; Anti-Cheat configuration
; ac_punishment: 0 = do nothing, 1 = alert admins in chat, 2 = kick user, 3 = kick user using amx_ban
ac_punishment 1

; ac_alert_non_admins: 0 = only admins see alerts, 1 = alerts are shown to everyone
ac_alert_non_admins 0
